:root {
    --text-color: #1a1c20;
    --link-color: #ffffff;
    --background-color: #eeeff1;
    font-size: 17px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 187, 105, 0.6);
    padding-top: 80px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 205, 105, 0.9);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.banner-left li,
.banner-right li {
    display: inline;
}


.banner-left a,
.banner-right a {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    margin: 0 0.625rem;
    text-decoration: none;
}

.banner-left a:hover,
.banner-right a:hover {
    color: var(--link-color);
    transition: color 0.3s ease-in-out;
}

/* General Section Styles */
section {
    padding: 50px 20px;
    margin: 60px 0;
    margin-bottom: 80px;;
    background-color: var(--background-color);
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
    justify-content: space-between;
    max-width: 1400px;
    width: 100%
    

}

section:nth-of-type(odd) {
    background-color: #f8f8f8; /* Light gray for odd sections */
}

section:nth-of-type(even) {
    background-color: #ffffff; /* White for even sections */
}

/* Section Heading Styles */
section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
}



/*About section */
#about-section {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin: 0 auto;
}


#about-section .photo {
    flex: 1;
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 400px;
    object-fit: cover;
}

.bio {
    flex: 1.5;
    max-width: 60%;
    text-align: left;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.bio h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    flex: 2.0;
}

.bio p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 10px 10px
}

.socials {
    margin-top: auto; /* Drückt die Socials nach unten */
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
    padding: 50px 10px;
}


/*Projects  Section */
#project-section {
    display: flex;
    flex-direction: column;  /* Stellt sicher, dass die Subsektionen übereinander sind */
    margin: 0 auto;
    max-height: auto;

}


#project-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2px;
    align-self: flex-start; 
    width: 100%;
}

.project-subsection {
    display: flex;
    flex-direction: column;
    margin-bottom: 1px;
    flex: 1;
}


.personal-projects {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

}

/* Project Boxes*/
.project {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 100%;
    transition: transform 0.3s ease;
}
.project:hover {
    transform: translateY(-5px);
}


.project h4 {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--text-color);
    flex-shrink: 0;
}

.project a {
    font-size: 0.8rem;
}


.project p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: #555;
    flex-grow: 1;
}

.project .project-image {
    width: 20%;
    height: 20%; /* Feste Höhe für das Bild */
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 15px;
    align-self: auto;
    flex-shrink: 0;
}


/* Flexbox für die Anzeige der Boxen nebeneinander */
.personal-projects {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap; /* Damit die Boxen auf kleineren Bildschirmen untereinander erscheinen */
}

.school-projects {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;

}


.project-subsection .personal-projects h3,
.project-subsection .school-projects h3 {
    align-self: flex-start;
    margin-bottom: 5px;
    font-size: 1.2rem;
}




/* Skills-Section */
#skill-section {
    display: flex;
    flex-direction: column;  /* Stellt sicher, dass die Subsektionen übereinander sind */
    margin: 0 auto;
}

#skill-section h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    align-self: flex-start; 
    width: 100%;  
}

.icons {
    display: flex;
    padding: 30px;
    gap: 20px;
}

#skill-section h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    align-self: flex-start; 
    width: 100%;
}

.ides {
    display: flex;
    padding: 30px;
    align-self: flex-start;
    gap: 20px;
    flex-direction: space-between;
}

/* impressium-section */

#impressium-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#impressium-section p {
    font-size: 0.9rem;
    margin-bottom: 10px;
    align-self: flex-start; 
    width: 100%;
}

/* Contac-Section */

#message-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

#message-section input,
#message-section textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid #cbcd78;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;

}

#message-section input::placeholder,
#message-section textarea::placeholder {
    color: #93907a;
}

#message-section button {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    background-color:  #fa530b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nessage-section button:hover {
    background-color: #fa530b ;
}



/* Anpassung für Tablets (max. 768px) */
@media (max-width: 768px) {
    .banner-left li,
    .banner-right li {
        display: inline;
        max-width: auto;
        max-height: auto;
        
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: rgba(255, 205, 105, 0.9);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

    }

    .banner-left a,
    .banner-right a {
        font-size: 1rem;
        padding: 0px
    }


    .banner-left a:hover,
    .banner-right a:hover {
        color: var(--link-color);
        transition: color 0.3s ease-in-out;
    }

    body {
        font-size: 14px; /* Kleinere Schrift für bessere Lesbarkeit */
    }
    .section {
        padding: 10px; /* Mehr Abstand, damit es angenehmer aussieht */
    }
}

/* Anpassung für Smartphones (max. 480px) */
@media (max-width: 480px) {
    .banner-left li,
    .banner-right li {
        display: inline;
        max-width: auto;
        max-height: auto;
        
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: rgba(255, 205, 105, 0.9);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

    }

    .banner-left a,
    .banner-right a {
        font-size: 1rem;
    }


    .banner-left a:hover,
    .banner-right a:hover {
        color: var(--link-color);
        transition: color 0.3s ease-in-out;
    }

    body {
        font-size: 14px; 
    }
    .section {
        padding: 10px; 
    }
}

